.App {
  text-align: center;
  font-family: Bahnschrift;
  font-weight: bolder;

}
a, a:visited {
  color: black;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none; 
}

.App-header {
  background-color: rgb(137, 117, 156);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.album {


}


body {

  background-position: center;
  background-size: 3050px 1050px;
  color: skyblue;
}
song-number-column {
  box-sizing: border-box;
  border-bottom-width: thick;
  border-style: double;
}